* { box-sizing: border-box; margin: 0; padding: 0; }
html,body{
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: black;
}
body{
  color: white;
  margin: 0;
  font-size: 1.7rem;
  font-family: 'Roboto Condensed', 'Gothic A1';
  font-weight: 700;
  position: fixed;
  letter-spacing: 0.02rem;
}
.loader_container{
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.loader{
  position: absolute;
  height: 100%;
  animation: infinite;
  opacity: 90%;
}
.menupage{
  height: 100%;
  background-color: black;
  display: flex;
  flex-dirction: row;
  flex-wrap: wrap;
  -webkit-tap-highlight-color: white;
}
.menu{
  height: 50%;
  width: 50%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  overflow: hidden;
}
.menu1{
  height: 50%;
  width: 50%;
  border-bottom: 1px solid white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  overflow: hidden;
}
.menu2{
  height: 50%;
  width: 50%;
  border-right: 1px solid white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  overflow: hidden;
}
.menu3{
  height: 50%;
  width: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: black;
}
.wine_description{
  position: relative;
  border-right: 1px solid black;
  padding-top: 0.5rem;
  width: 66.6%;
  height: 33.4%;
}
#balbi_description{
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#balbi_description.show{
  opacity: 100%;
}

#soraighe_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#soraighe_description.show{
  opacity: 100%;
}

#la_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#la_description.show{
  opacity: 100%;
}
#delia_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#delia_description.show{
  opacity: 100%;
}

#tra_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}

#tra_description.show{
  opacity: 100%;
}

#caruso_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#caruso_description.show{
  opacity: 100%;
}

#embellie_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#embellie_description.show{
  opacity: 100%;
}

#fruity_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#fruity_description.show{
  opacity: 100%;
}

#dry_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#dry_description.show{
  opacity: 100%;
}

#pinot_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#pinot_description.show{
  opacity: 100%;
}

#brut_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#brut_description.show{
  opacity: 100%;
}

#caliera_description{
  padding-right: 0.5rem;
  background-color: white;
  position: absolute;
  padding-left: 0.5rem;
  width: 100%;
  height: 33.4%;
  opacity: 0%;
}
#caliera_description.show{
  opacity: 100%;
}
.title_en{
  font-size: 1rem;
  line-height: 120%;
}
.title_kr{
  font-size: 0.8rem;
  line-height: 140%;
}
.des_p{
  padding-top: 1vh;
  word-break: keep-all;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 160%;
}
.redname{
  overflow: hidden;
  background-color: ;
  font-size:0.9rem;
  width: 33.3%;
  height:33.3%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.redname_bottom{
  background-color: ;
  font-size:0.9rem;
  width: 33.3%;
  height:33.4%;
  border-right: 1px solid black;
}
.blank_group{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
}
.redname_blank{
  border-right: 1px solid black;
  width:50%;
  height:100%;
}

.red-grid{
  display: grid;
  grid-template-columns:30% 40% 30%;
  grid-template-rows:15% 70% 15%;
  height: 100%;
  width: 100%;
}
.winenumber{
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.wineimage{
  display: flex;
  align-items: center;
  justify-content: center;

}
.bottle{
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.price{
  font-weight: 400;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.en_wine_position{
  font-size: 1.3rem;
  line-height: 115%;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#en_balbi{
  opacity: 0%;
}
#en_balbi.open{
  opacity: 100%;
}
#en_soraighe{
  opacity: 0%;
}
#en_soraighe.open{
  opacity: 100%;
}

#en_la{
  opacity: 0%;
}
#en_la.open{
  opacity: 100%;
}

#en_delia{
  opacity: 0%;
}
#en_delia.open{
  opacity: 100%;
}

#en_tra{
  opacity: 0%;
}
#en_tra.open{
  opacity: 100%;
}

#en_caruso{
  opacity: 0%;
}
#en_caruso.open{
  opacity: 100%;
}

#en_embellie{
  opacity: 0%;
}
#en_embellie.open{
  opacity: 100%;
}

#en_fruity{
  opacity: 0%;
}
#en_fruity.open{
  opacity: 100%;
}

#en_dry{
  opacity: 0%;
}
#en_dry.open{
  opacity: 100%;
}

#en_pinot{
  opacity: 0%;
}
#en_pinot.open{
  opacity: 100%;
}

#en_brut{
  opacity: 0%;
}
#en_brut.open{
  opacity: 100%;
}

#en_caliera{
  opacity: 0%;
}
#en_caliera.open{
  opacity: 100%;
}

#redwinemenu{
  color: black;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-height: 0%;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#redwinemenu.open{
  max-height: 80%;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#red{
  height: 25%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: height 0.7s;
  overflow: hidden;
}

#red.open{
  height: 5%;
  transition: height 0.7s;
  border-style: none;
}

#whitewinemenu{
  color: black;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#whitewinemenu.open{
  max-height: 80%;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#white{
  height: 25%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: height 0.7s;
  overflow: hidden;
}

#white.open{
  height: 5%;
  transition: height 0.7s;
  border-top: 1px solid white;
  border-bottom: none;
}

#champangemenu{
  color: black;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#champangemenu.open{
  max-height: 80%;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#champange{
  height: 25%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: height 0.7s;
  overflow: hidden;
}

#champange.open{
  height: 5%;
  transition: height 0.7s;
  border-top: 1px solid white;
  border-bottom: none;
}

#moscatomenu{
  color: black;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-height: 0vh;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#moscatomenu.open{
  max-height: 80%;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
#moscato{
  height: 25%;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: height 0.7s;
  overflow: hidden;
}

#moscato.open{
  height: 5%;
  transition: height 0.7s;
  border-top: 1px solid white;
}

.wad_menu{
  font-size: 1rem;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.w_menu{
  display: grid;
  grid-template-columns:50% 1fr;
  grid-template-rows:50% 1fr;
  height: 12.5%;
  border-bottom: 1px solid white;
}

.menu_title{
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  line-height: 120%;
}
.menu_price{
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
