* { box-sizing: border-box; margin: 0; padding: 0; }
html,body{
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: black;
}
body{
  color: white;
  margin: 0;
  font-size: 1.7rem;
  font-family: 'Roboto Condensed', 'Gothic A1';
  font-weight: 700;
  position: fixed;
  letter-spacing: 0.02rem;
}
.category{
  width:100%;
  height:100%;
}
.logo{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #f2f2f2;
  width:100%;
  height:10%;
}
.category1{
  height:30%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
}
.category2{
  height:30%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.cate_blend{
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows:10% 90%;
}
.cate_blend_title{
  line-height: 120%;
  padding-top:16px;
  padding-left:16px;
  word-break: keep-all;
}
.cate_blend_info{
  font-size: 16px;
  padding-top:16px;
  padding-left:16px;
  padding-right:16px;
  word-break: keep-all;
  line-height: 160%;
}



.cate_week1{
  height:25%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
}
.cate_week2{
  height:25%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.cate_blend_box{
  height:20%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;

}

.cate_blend_box1{
  height:20%;
  display: flex;
  justify-content:center;
  align-items: center;

}

.cate_single{
  height:12.5%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.2rem;
}

.cate_single1{
  height:12.5%;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.2rem;

}

.cate_recipe{
  height:50%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content:center;
  align-items: center;
}
.cate_recipe1{
  height:50%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.brewing_recipe{
  font-size: 0.6rem;
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows:repeat(15, 1fr);
  grid-template-columns: repeat(4,1fr);
  padding: 80px 8px 160px 8px;
}
.brew_rec_item{
  display: flex;
  justify-content:center;
  align-items: center;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.brew_rec_item:nth-child(6){
  grid-column: 2 / span 3;
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(8){
  grid-column: 2 / span 3;
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(10){
  grid-column: 2 / span 3;
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(12){
  grid-column: 2 / span 3;
  border-right: 1px solid white;
}

.brew_rec_item:nth-child(14){
  grid-column: 2 / span 3;
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(16){
  grid-column: 2 / span 2;
}
.brew_rec_item:nth-child(19){
  grid-column: 2 / span 2;
}
.brew_rec_item:nth-child(22){
  grid-column: 2 / span 2;
}
.brew_rec_item:nth-child(25){
  grid-column: 2 / span 2;
}

.brew_rec_item:nth-child(1){
  border-top: 1px solid white;
}
.brew_rec_item:nth-child(2){
  border-top: 1px solid white;
}
.brew_rec_item:nth-child(3){
  border-top: 1px solid white;
}
.brew_rec_item:nth-child(4){
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.brew_rec_item:nth-child(17){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(20){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(23){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(26){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(30){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(34){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(38){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(42){
  border-right: 1px solid white;
}
.brew_rec_item:nth-child(46){
  border-right: 1px solid white;
}

.esspresso_recipe{
  font-size: 0.6rem;
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows:repeat(16, 1fr);
  grid-template-columns: 1.3fr 1fr 1fr 1fr 3.7fr;
  padding: 80px 8px 120px 8px;
}

.ess_rec_item{
  display: flex;
  justify-content:center;
  align-items: center;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.ess_rec_item:nth-child(1){
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  border-top: 1px solid white;
  color: black;
  background-color: #efefef;
}
.ess_rec_item:nth-child(29){
  grid-column: 1 / span 6;
  grid-row: 9 / span 2;
  color: black;
  background-color: #efefef;
}

.ess_rec_item:nth-child(6){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(13){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(18){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(23){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(28){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(34){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(41){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(46){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(51){
  grid-column: 5 / span 2;
}
.ess_rec_item:nth-child(56){
  grid-column: 5 / span 2;
}

.ess_rec_item:nth-child(8){
  grid-column: 2 / span 5;
}.ess_rec_item:nth-child(36){
  grid-column: 2 / span 5;
}

#ess_rec_item_right{
  border-right: 1px solid white;
}

#ess_rec_item_title{
  font-size: 1rem;
  border-right: 1px solid white;
}


